#language-selector {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #language-selector button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: font-size 0.3s ease;
  }
  
  #language-selector button:hover {
    font-size: 25px;
  }

  #recommendation {
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    color: black;
}
#recommendation span {
    font-size: 30px;
    font-weight: bold;
}
#language-links {
    display: none;
    text-align: center;
    padding-top: 20px;
}
#language-links a {
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    color: rgb(7, 7, 7);
}
 

